@import "variables.scss";

.form {
  background-image: url("../images/formBackground.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  display: grid;
  place-items: center;
  padding: 0% 30%;
  min-height: 800px;

  &__wrapper {
    width: 100%;
    height: auto;
    background: white;
    padding: 10%;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.25);
  }

  &__title {
    text-transform: uppercase;
    position: relative;
    font-size: $h2FontSize;
  }

  &__subtitle {
    color: #707070;
    font-weight: normal;
    font-size: $h4FontSize;
    margin-top: 0.75rem;
  }

  &__sup {
    font-size: $h5FontSize;
    vertical-align: super;
  }

  &__topBMW {
    display: none;
  }

  &__bottomBMW {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .form {
    padding: 10% 0;
    background-image: none;
    overflow: hidden;
    height: auto !important;

    &__wrapper {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      margin-top: -35%;
      background-color: transparent;
    }
    &__topBMW {
      display: block;
      width: 100%;
      margin-left: -80%;
    }

    &__bottomBMW {
      display: block;
      width: 60%;
      margin-right: -80%;
      margin-top: -50%;
    }
  }
}

//RETINA FRIENDLY BACKGROUND IMAGE
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
  .form {
    background-image: url("../images/formBackground@2x.png");
  }

  @media screen and (max-width: 960px) {
    .form {
      background-image: none;
    }
  }
}
