@import "variables.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 225px;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

#ReactBackgroundSlider > * {
  min-width: 225px;
}
