@import "variables.scss";

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow: auto !important;

  &__firstRow {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    position: relative;
    height: 20%;
  }

  &__firstRow::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 65%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  }

  &__logo {
    margin-left: auto;
    margin-right: 10%;
  }

  &__closeIcon {
    font-size: $h2FontSize !important;
    position: absolute;
    right: 11.5%;
    top: 125%;
  }

  &__menu {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    list-style-type: none;
    margin-top: 10%;
  }

  &__menuItem {
    height: 100%;
    width: 70%;
    display: grid;
    place-items: center;
  }

  &__menuItem + &__menuItem {
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    padding: 1rem 0;
  }

  &__menuItem a {
    color: white;
    text-decoration: none;
    font-size: $h5FontSize;
    text-transform: uppercase;
  }

  &__thirdRow {
    height: 50%;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  &__btn {
    visibility: hidden;
    background-color: $mainColor;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 70%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $h4FontSize;
    text-align: center;
  }
}
